/* DEFAULT PAGE FONT */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');

/* FONT FAMILIES */
@import url(//db.onlinewebfonts.com/c/9f94dc20bb2a09c15241d3a880b7ad01?family=Menlo);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #2CA98B, #6BC971);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Noto Serif SC;
}


#navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0rem;
    padding: 0.5rem 0rem;
    align-items: center;
    background-color: #2CA98A;
    list-style-type: none;
}

#logo {
    margin-right: auto;
    margin-left: 2rem;
    font-size: 2.5rem;
}

.navbar-link {
    margin-right: 3rem;
    font-size: 2.5rem;
}

#navbar-items a {
    text-decoration: none;
    color:white;
}

.hamburger {
    display: none;
    margin-right: 3rem;
    z-index: 6;
}

.hamburger img {
    width: 45px;
    margin-top: 0.5rem;
    cursor: pointer;
}

.hamburger img:hover {
    opacity: 0.6;
}

.hamburger-display {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height:40vh;
    background-color: #2CA98A;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
    top: -50%;
    transition: top 1s ease-out;
}

.hamburger-display a {
    text-decoration:none;
    font-size: 30px;
    color: white;
    margin:1rem 0;
}

.hamburger-display.opened {
    display: flex;
    top: 0%;
}

@media screen and (max-width:812px) {
    .navbar-link {
        display: none;
    }
    .hamburger {
        display: block;
    }
}


/* #content-wrapper {
    position: absolute;
    width: 95vw;
    height: 91vh;
    top:52%;
    left:50%;
    transform: translate(-50%,-50%);
} */





.customizations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 5px solid white;
    margin: 1rem 1rem;
    /* perspective: 500; */
}

label {
    font-size: 1.5em;
    color: whitesmoke;
    letter-spacing: 0.05em;
}

#tab-color {
    width: 50px;
    height: 50px;
    margin: 1rem 1rem;
}

.theme-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.themes,.font-families {
    font-size: 13px;
    width: 100%;
    -webkit-appearance: none;
    padding: 4px;
    border: 4px solid rgb(245,245,245);
}

.themes option {
    
}

.show-hide-tabs {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    /* align-items: flex-end; */
    /* justify-content: center; */
    text-align: center;
}

.show-hide-tabs button {
    background-color: white;
    padding: 4px;
    border: 4px solid rgb(245,245,245);
    margin: 0.2rem;
    border-radius: 5px;
    cursor: pointer;
}

.show-hide-tabs button:hover {
    opacity: 0.8;
}

.font, .reset, .randomize, .download {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    align-items: center;
    text-align: center;
}

.reset img {
    width: 80%;
    height: 80%;
}

.randomize img {
    width:100%;
}

.download img {
    width: 100%;
}

.font input {
    font-size: 15px;
    padding: 2px;
    border: 4px solid whitesmoke;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

.randomize button, .reset button, .download button {
    border: 4px solid rgb(245,245,245);
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 20%;
    cursor: pointer;
}

.randomize button:hover, .reset button:hover, .download button:hover {
    opacity: 0.8;
}

.font-error {
    position: absolute;
    top:-5%;
    font-size: 15px;
    color: white;
    background-color: red;
    padding: 10px;
    opacity: 0;
    transition: all 1s ease;
}


#display-screen {
    display: inline-block;
    position: relative;
    background-color: whitesmoke;
    max-width: 95vw;
    min-width: 300px;
    margin-left: 20px;
    border-radius: 10px;
    overflow: hidden;
    /* transition: transform 1s ease-out; */
}

#display-screen:hover {
    /* transform: rotateZ(45deg) skew(45deg); */
    /* transition: transform 0.5s ease-in; */
}

.cloned {
    position: absolute;
    top:0rem;
    /* margin-left: 0rem; */
    display: none;
}

#display-menu {
    position: relative;
    background-color: rgb(177, 177, 177);
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.menu-circles {
    position: relative;
    width: 15px;
    height: 15px;
    margin: 8px 5px;
    border-radius: 50px;
}

.menu-circles:first-child {
    background-color: red;
}

.menu-circles:nth-child(2) {
    background-color: orange;
}

.menu-circles:nth-child(3) {
    background-color: rgb(1, 201, 1);
}

#tabs {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: rgb(216, 216, 216);
    align-items: center;
}

#tabs li {
    flex: 1;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    cursor: pointer;
}

#tabs button {
    margin-right: 7px;
    border: none;
    font-size: 20px;
    margin-bottom: 7px;
    background-color: rgb(216, 216, 216);
}

/* .highlighted {
    background-color: gray;
} */

#display-content {
    margin: 1rem;
}

.main-input {
    position: relative;
    border: none;
    background-color: whitesmoke;
    outline: none;
    resize: horizontal;
    font-size: 18px;
    font-family: sans-serif;
    font-family: Menlo;
    min-width: 300px;
    max-width: 93vw;
    /* white-space: pre-wrap; */
}

/* @media (max-width: 767px) and (orientation:portrait) and (min-resolution: 300dpi) {
    body {
        font-size: 5px;
    }
} */


/* ---- TODO LIST ---- */

/* CALC AND VARIABLES */
/* CHANGE IDS TO CLASSES */
/* SKEW EFFECT */
/* SASS/SCSS */
/* ADD TO THEMES.JSON  */
/* ADD MORE FONTS */
/* KEYFRAMES ANIMATION */
/* ADJUST TEXT AND MARGIN SIZES */
/* LANGUAGE API */
/* LOCALSTORAGE */
/* ABOUT PAGE */
/* CONTACT / FEEDBACK PAGE */
/* WEBPACK */
/* NEXTJS FOR ROUTES */
/* RENAME PROJECT */
/* THREE JS */
/* README - WHAT PACKAGES TO INSTALL WITH NPM (HTML2CANVAS) */
/* DELETE DOMTOIMAGE FROM PACKAGESJSON */
/* TEST ON OTHER BROWSERS */

/* --- BUTTONS ---- */

/* HIGHLIGHTJS OR PRISMJS */
/* FIX THEME COLORS IN JSON FILE */
/* TAB NAMES??? */
/* FUNCTIONAL TABS - THEY MUST HAVE DIFFERENT NAMES */
/* TOGGLE LINE NUMBERS */
/* ADJUST LINE HEIGHT??? */
/* STYLE "SELECT" TAGS */
/* RANDOMIZE DESIGN */
/* CHANGE ALL "LABELS" INTO H2 */
/* DOWNLOAD PICTURE OR VIDEO */
/* RECORD VIDEO OF KEYSTROKES */
/* TAB SWITCHING */
/* WHICH LANGUAGE (FOR SYNTAX STYLING) (PROBABLY MAKE JSON TO HOLD THE VAR COLORS FOR EACH LANG) */