* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
}

#logo {
    margin-right: auto;
    margin-left: 2rem;
    list-style-type: none;
    font-size: 2.5rem;
}

.navbar-link {
    list-style-type: none;
    margin-right: 5rem;
    font-size: 2.5rem;
}

#navbar-items a {
    text-decoration: none;
    color:black;
}

#content-wrapper {
    background-image: linear-gradient(to bottom, #2CA98B, #6BC971);
    position: absolute;
    width: 95vw;
    height: 91vh;
    top:52%;
    left:50%;
    transform: translate(-50%,-50%);
}

#display-screen {
    position: relative;
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
    margin-left: 5%;
    margin-top: 20%;
    border-radius: 10px;
    overflow: hidden;
    /* transition: transform 1s ease-out; */
}

#display-screen:hover {
    /* transform: rotateZ(45deg) skew(45deg); */
    /* transition: transform 0.5s ease-in; */
}

#display-menu {
    position: relative;
    background-color: rgb(177, 177, 177);
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.menu-circles {
    position: relative;
    width: 15px;
    height: 15px;
    margin: 8px 5px;
    border-radius: 50px;
}

.menu-circles:first-child {
    background-color: red;
}

.menu-circles:nth-child(2) {
    background-color: orange;
}

.menu-circles:nth-child(3) {
    background-color: rgb(1, 201, 1);
}

#tabs {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: rgb(216, 216, 216);
}

#tabs li {
    flex: 1;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

#tabs button {
    /* margin-left: auto; */
    margin-right: 7px;
    border: none;
    font-size: 20px;
    margin-bottom: 7px;
    background-color: rgb(216, 216, 216);
}

#display-content {
    /* word-wrap: break-word; */
    margin: 1rem
}

#main-input {
    position: relative;
    border: none;
    background-color: whitesmoke;
    outline: none;
    resize: horizontal;
    font-size: 18px;
    font-family: sans-serif;
    /* max-height: 200px; */
}



/* TODO LIST */

/* FIX TEXTAREA LOGIC AND POSITIONING */
/* MAKE DIV MOVE WITH TEXT AREA */
/* LANGUAGE API */
/* LOCALSTORAGE API */
/* ABOUT PAGE */
/* CONTACT / FEEDBACK PAGE */
/* PARCEL + GSAP FOR SWITCHING TABS */