/* DEFAULT PAGE FONT */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');

/* FONT FAMILIES */
@import url(//db.onlinewebfonts.com/c/9f94dc20bb2a09c15241d3a880b7ad01?family=Menlo);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

// VARIABLES

$opacity: 0.8;
$back-dark-green: #2CA98B;
$back-light-green: #6BC971;
$card-width: 300px;
$card-height: 500px;

// FUNCTIONS

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Noto Serif SC;
}

#navbar-items {
    @include flex(row, flex-end, center);
    margin-top: 0rem;
    padding: 0.5rem 0rem;
    list-style-type: none;
    box-shadow: 0px 5px 20px rgb(44, 101, 206);

    a {
        text-decoration: none;
        color:white;
    }
}

#logo {
    margin-right: auto;
    margin-left: 2rem;
    font-size: 2.5rem;
}

.navbar-link {
    margin-right: 3rem;
    font-size: 2.5rem;
}

.hamburger {
    display: none;
    margin-right: 3rem;
    z-index: 6;

    img {
        width: 45px;
        margin-top: 0.5rem;
        cursor: pointer;

        &:hover {
            opacity: $opacity;
        }
    }
}

.hamburger-display {
    @include flex(column, space-around, center);
    position: absolute;
    width: 100%;
    height:40vh;
    background-color: rgb(79, 133, 233);
    z-index: 5;
    top: -500px;
    transition: top 1s ease-out;

    a {
        text-decoration:none;
        font-size: 30px;
        color: white;
        margin:1rem 0;
    }

    &.opened {
        display: flex;
        top: 0%;
    }
}

@media screen and (max-width:812px) {
    .navbar-link {
        display: none;
    }
    .hamburger {
        display: block;
    }
}

header {
    @include flex(column, center, center);
    margin: 1rem 0rem;
    width: calc(100% - 2rem);

    pre {
        color: white;
        margin: 0.5rem;
        font-size: 20px;
        font-family: Noto Serif SC;
    }

    button {
        padding: 8px;
        font-size: 20px;
        font-family: Noto Serif SC;
        background-color: cornflowerblue;
        border: 3px solid white;
        border-radius: 15px;
        margin-bottom: 0.5rem;
        cursor: pointer;

        &:hover {
            background-color: rgb(81, 134, 232);

        }

        a {
            text-decoration: none;
            color: white;
        }
    }
}

#content-wrapper {
    border-radius: 20px;
    margin-left: 0.5rem;
    position: absolute;
    background-color: rgb(79, 133, 233);
    width: calc(100% - 1rem);
}


.customizations {
    @include flex(row, space-evenly, flex-start);
    flex-wrap: wrap;
    margin: 1rem 0rem;
}

label {
    font-size: 1.5em;
    color: whitesmoke;
    letter-spacing: 0.05em;
}

#tab-color {
    width: 50px;
    height: 50px;
    margin: 1rem 1rem;
}

.theme-wrapper {
    @include flex(column, center, center);
}

.themes,.font-families {
    font-size: 13px;
    width: 100%;
    -webkit-appearance: none;
    padding: 4px;
    border: 4px solid rgb(245,245,245);
}

.show-hide-tabs {
    @include flex(column, initial, initial);
    margin: 0rem 0.5rem;
    text-align: center;

    button {
        background-color: white;
        padding: 4px;
        border: 4px solid rgb(245,245,245);
        margin: 0.2rem;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            opacity: $opacity;
        }
    }
}

.font, .reset, .download {
    @include flex(column, initial, center);
    text-align: center;

    button {
        border: 4px solid rgb(245,245,245);
        background-color: white;
        border-radius: 5px;
        padding: 5px;
        width: 20%;
        cursor: pointer;

        &:hover {
            opacity: $opacity;
        }
    }
}

.reset img {
    width: 80%;
    height: 80%;
}

.download img {
    width: 100%;
}

.font input {
    font-size: 15px;
    padding: 2px;
    border: 4px solid whitesmoke;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

.font-error {
    position: absolute;
    top:-120%;
    font-size: 15px;
    color: white;
    background-color: red;
    padding: 10px;
    opacity: 0;
    transition: all 1s ease;
}


#display-screen {
    display: inline-block;
    position: relative;
    background-color: whitesmoke;
    border-radius: 10px;
    max-width: calc(100% - 2rem);
    min-width: 275px;
    overflow: hidden;
    margin: 0.5rem 1rem;
}

.cloned {
    position: absolute;
    top:0rem;
    display: none;
}

#display-menu {
    @include flex(row, initial, initial);
    position: relative;
    background-color: rgb(177, 177, 177);
    width: 100%;
    height: 30px;
}

.menu-circles {
    position: relative;
    width: 15px;
    height: 15px;
    margin: 8px 5px;
    border-radius: 50px;

    &:first-child {
        background-color: red;
    }

    &:nth-child(2) {
        background-color: orange;
    }

    &:nth-child(3) {
        background-color: rgb(1, 201, 1);
    }
}

#tabs {
    @include flex(row, initial, center);
    list-style: none;
    background-color: rgb(216, 216, 216);

    li {
        flex: 1;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        cursor: pointer;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        // &::after {
        //     content: 'X';
        //     margin-left: 20px;
        // }
    }

    button {
        margin-right: 7px;
        border: none;
        font-size: 20px;
        margin-bottom: 7px;
        background-color: rgb(216, 216, 216);

        &:active {
            color: rgb(142, 142, 142);
        }
    }
    
    #new-tab {
        padding-left: .4rem;
    }
}

#display-content {
    margin: 1rem;
}

.main-input {
    position: relative;
    border: none;
    background-color: whitesmoke;
    outline: none;
    resize: horizontal;
    font-size: 18px;
    font-family: Menlo;
    min-width: 275px;
    max-width: calc(100% - 0.5rem);
}

#output {
    margin: 0.5rem;

    canvas {
        margin: 0.5rem
    }
}

.about-card-container {
    @include flex(row, space-around, center); // SWITCH TO GRID
    margin: 1rem;
    flex-wrap: wrap;

    .about-card-wrapper {
        width: 320px;
        height: 520px;
        @include flex(row, center, center);

        &:hover .about-card{
            transform: rotateY(180deg);
        }

        .about-card {
            width: $card-width;
            height: $card-height;
            transition: transform 1s ease;
            transform-style: preserve-3d;
            margin: 1rem;

            .front {
                width: $card-width;
                height: $card-height;
                background-color: white;
                backface-visibility: hidden;
                z-index: 100;
                text-align: center;
                border-radius: 30px;
                border: 5px solid white;
                background-color: rgb(80, 130, 223);
                color: whitesmoke;
            }

            .back {
                @extend .front;
                transform: rotateY(180deg);
                position: absolute;
                top:0%;
                z-index: -100;
            }
        }
    }
}

.feedback-section {
    margin: 2rem;
    @include flex(column, center, center);
    $feedback-margin: 0.5rem;

    h1 {
        color: white;
        margin: $feedback-margin;
        font-size:3em;
    }

    textarea {
        border: none;
        background-color: whitesmoke;
        outline: none;
        resize: horizontal;
        font-size: 18px;
        font-family: sans-serif;
        min-width: 275px;
        max-width: 100%;
        margin: $feedback-margin;
        padding: 5px;
    }

    input {
        margin: $feedback-margin;
        color: white;
        padding: 8px;
        font-size: 20px;
        font-family: Noto Serif SC;
        background-color: cornflowerblue;
        border: 3px solid white;
        border-radius: 15px;
        margin-bottom: 0.5rem;
        cursor: pointer;

        &:hover {
            background-color: rgb(81, 134, 232);
        }
    }
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: cornflowerblue;
    box-shadow: 0px 5px 20px rgb(44, 101, 206);
    @include flex(row, space-evenly, center);
    
    p {
        color: white;
        padding: 20px;
    }
}

/* ---- TODO LIST ---- */


/* LOCALSTORAGE */
/* README */

/* ADD TO THEMES.JSON  */
/* ADD MORE FONTS */
/* FIX THEME COLORS IN JSON FILE */

/* HIGHLIGHTJS OR PRISMJS */
/* WHICH LANGUAGE (FOR SYNTAX STYLING) */

/* TAB NAMES??? */
// DELTE TABS BUTTON

/* STYLE "SELECT" TAGS */

/* DOWNLOAD PICTURE OR VIDEO */
/* RECORD VIDEO OF KEYSTROKES */